<!-- <div style="text-align: center;">
  <mat-toolbar color="primary">
  Tv shows
  </mat-toolbar>
  <div>
    <app-genre-search></app-genre-search>
  </div>
<div>Genres, name</div>
<mat-card color="primary">
  <app-tv-shows></app-tv-shows>
</mat-card>
  </div> -->
  <div>
  <div style="text-align: center;">
    <mat-toolbar color="primary">
      Tv shows
    </mat-toolbar>
    <div>
    </div>
  <div>Genres, name</div>
  <div>
    <app-tvshow-search></app-tvshow-search>
  </div>
  <mat-card color="primary">
    <app-tv-shows></app-tv-shows>
  </mat-card>
    </div>
  </div>

  <form>
    <mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Enter Drama, Girls"
      aria-label="Drama or Girls" [formControl]='search' />
    </mat-form-field>
  </form>