<!-- <div style="text-align: center;">
  <mat-toolbar color="primary">
  Tv shows
  </mat-toolbar>
  <div>
    <app-genre-search></app-genre-search>
  </div>
<div>Genres, name</div>
<mat-card color="primary">
  <app-tv-shows></app-tv-shows>
</mat-card>
  </div> -->
  <div style="text-align: center;">
    <mat-toolbar color="primary">
      Tv shows
    </mat-toolbar>
  <div>Genres, name</div>
  <mat-toolbar color="primary">
    <app-tv-shows></app-tv-shows>
  </mat-toolbar>
    </div>

    <form>
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Enter Genre, Name"
        aria-label="Genre, name" [formControl]= />
      </mat-form-field>
    </form>